body{
  background-color: #FAF5FC;
  color: #131114;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h1{
  font-size: 3em;
  font-weight: 700;
}

#text , button {
    border: 0.1em solid;
    border-radius: 1em;
    text-align: center;
    width: 10em;
    padding: 0.5em;
}

#text {
    font-size: 2.5em;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
}

#text.boy , #boy {
    background-color: #7166E8;
    color: #0F0D1F;
    border-color: #0F0D1F;
}


#text.girl ,#girl {
    background-color: #ED3EEA;
    color: #140514;
    border-color: #140514;
}

button{
    font-weight: bold;
    margin-left: 0.2em;
    cursor: pointer;

    border-color: #131114;
}

button:hover{
    border-width: 0.2em;
    padding: 0.4em;
}